{%extends 'login/index.html' %}
{%load static%}
{%block title%}Login: Tindahan ni ALing Kikay{%endblock%}

{%block content%}
<link rel="stylesheet" href="{% static 'css/_login.css' %}">
<div id="app">

  <div v-show="message.length > 0" class="alert alert-danger alert-dismissible" 
    
     role="alert">
    <strong>Sorry!</strong> {!message!}
    <button type="button" class="close" onclick="$('.alert').hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>  
    <!-- Login Form -->
    <div class="fadeIn first">
      <img src="https://cdn.iconscout.com/icon/free/png-256/user-1648810-1401302.png" id="icon" alt="User Icon" />
    </div>
  <form  method="post" @submit.prevent = "login" >
      {%csrf_token%}
    <input v-model="form.username" type="text" required id="login" class="fadeIn second" placeholder="login">
    <input v-model="form.password" type="password" required id="password" class="fadeIn third"  placeholder="password">
    <input type="submit" class="fadeIn fourth" value="Log In">
  </form>

  <!-- Remind Passowrd -->
  <div id="formFooter">
    <a class="underlineHover" href="#">Forgot Password?</a>
    <a class="underlineHover" href="{% url 'login:lico_register' %}">Sign Up?</a>
  </div>
</div>

<script>
  
  let url = new URL(window.location.href).searchParams
  let paramN = url.get('next')

  let options = {
    el:'#app',
    delimiters: ['{!','!}'],
    data:{
      message:'',
     
      alertObj:{
        display:"none"
      },

      form:{
        username:'',
        password:'' 
      }
    },

    methods:{
      login:function(){
        const headers = { 'Content-Type': 'application/json',}

        let url = "{% url 'login:lico_auth' %}" +'?next='+paramN //get url

        let formData = new FormData();//create form data
        formData.append("csrfmiddlewaretoken","{{csrf_token}}")
        formData.append('username', this.form.username);
        formData.append('password', this.form.password);
        formData.append('next',paramN);


        axios.post(url, formData, {
          headers: headers}
        )
        .then((response) =>{
          
          if(typeof response.data =='object'){
            // JSON.parse(response.data)
            $('.alert').show()
            this.message = response.data.message
           
          }
          else{
            window.location = window.location.href
          }
        })
      }
    }
  }

  let cl = new Vue(options)
</script>
{%endblock%}