{%extends 'login/index.html' %}
{%load static%}
{%block title%}Login: Tindahan ni ALing Kikay{%endblock%}

{%block content%}
<link rel="stylesheet" href="{% static 'css/_login.css' %}">
 <!-- Login Form -->
 <form action="{% url 'login:lico_auth' %}" method="post">
    {%csrf_token%}
  <input type="text" required id="login" class="fadeIn second" name="username" placeholder="login">
  <input type="password" required id="password" class="fadeIn third" name="password" placeholder="password">
  <input type="submit" class="fadeIn fourth" value="Log In">
</form>

<!-- Remind Passowrd -->
<div id="formFooter">
  <a class="underlineHover" href="#">Forgot Password?</a>
  <a class="underlineHover" href="{% url 'login:lico_register' %}">Sign Up?</a>
</div>

{%endblock%}